@media only screen and (min-width: 768px) {
    // For desktop:
    h1 {
      font-family: sans-serif;
      //padding-left: 20px;
      padding-left: plus_num(15px);
      font-weight: lighter;
    }
   table {
     border-collapse: collapse;
     width: 100%;
   }
   th, td {
     padding: plus_num(3px);
     border-bottom: $border-bottom;
     @include text-primary;
   }
   #file-icon {
     @include icon-align;
   }

   table.list{
    width: 100%;
  }

  //tr:nth-child(even),table.list thead>tr {
  //    background-color: $graylighter;
  //} 

 }

 @media only screen and (max-width: 768px) {
    // For mobile phones:
    h1 {
      font-family: sans-serif;
      font-weight: bold;
    }
    // Force table to not be like tables anymore
    table, thead, tbody, th, td, tr {
      display: block;
    }
    // Hide table headers (but not display: none)
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 0.5px solid $graylight;
    }
    #file-icon {
      @include icon-align;
    }
    #demoTable td {
      // Behave  like a "row"
      border: none;
      border-bottom: $border-bottom;
      position: relative;
      padding-left: 28%;
      height: plus_num(20px);
      @include text-primary;
    }
    td:before {
      // Now like a table header 
      position: absolute;
      top: plus_num(1px);
      left: plus_num(1px);
      width: 20%;
      //padding-right: 10px;
      padding-right: plus_num(5px);
      white-space: nowrap;
      font-style: italic;
      font-weight: bold;
      @include text-primary;
    }
    td:nth-of-type(1):before {
      content: "File Type";
    }
    td:nth-of-type(2):before {
      content: "Name";
    }
    td:nth-of-type(3):before {
      content: "Modified";
    }
    td:nth-of-type(4):before {
      content: "Modified By";
    }
    td:nth-child(1){
      background-color: $background-color;
      height: auto;
    }     
  }