ul {
    list-style-type: none;
    margin: 0;
    padding: plus_num(-5px);
    overflow: hidden;
    border: 1px solid $lightcream;;
    background-color: $cream;
}
.bar-item {
  padding: plus_num(5px);
}
@media only screen and (min-width: 768px) {
    // For desktop:
    .dropbtn{
     display: none;
    }
    .ico {
      color: $lightpink;
    }
    li {
        float: left;
      }
    li 
    {
      a {
        display: block;
        color: $lightblack;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      a:hover:not(.active) {
        background-color: $background-color;
      }
    }
}

@media only screen and (max-width: 768px) {
    // For mobile phones:
    .topnav{
      background-color: $cream;
      padding: plus_num(15px);
    }
    .top-bar {
      position: relative;
      display: block;
      top: -14px;
      right: -8px;
      width: 100%;
    }
    .dropbtn{
      float: right;
      background-color: $background-color;
      color: black;
      //font-size: 16px;
      font-size: plus_num(11px);
      border: 0.5px solid $graylight;
      cursor: pointer;
      padding: 5px 5px;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $background-color;
      border: $border-bottom;
      right: 0;
      top: plus_num(27px);
      width: 100%;
      z-index: 1;
    }

    .dropdown-content {
      li
      { 
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        a:hover {
          background-color: $background-color;
        }
      }
    }
    .top-bar:hover .dropdown-content {
      display: block;
    }
}